body {
  font-family: sans-serif;
  font-size: 13px;
  margin-bottom: 450px; }
  body a {
    color: blue;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
  body hr {
    color: black;
    margin: 10px 0 25px 0; }
  body input[type=button] {
    padding: 4px 5px;
    margin: 4px 3px;
    border: 1px solid #000; }
    body input[type=button]:hover {
      font-style: italic; }
  body fieldset {
    border: 1px solid #000;
    padding: 15px 20px; }
  body ul {
    margin: 10px 0 0 15px;
    list-style-type: none;
    font-size: 15px; }
    body ul li {
      font-family: 'Terminal Dosis', sans-serif;
      margin: 5px 0 0 10px;
      padding: 3px 5px; }
      body ul li span {
        padding: 5px 10px 0 0;
        margin: 5px 20px 0 0; }
  body .root {
    left: 100px;
    width: 800px;
    position: relative;
    padding: 12px 25px;
    border: 1px solid #000;
    margin: 35px auto 0 auto; }
    body .root ul.demos {
      margin: 0 0 0 -50px; }
      body .root ul.demos li.demo fieldset legend {
        border: 1px solid #000; }
    body .root #about.about {
      margin: 0 0 25px 0; }
      body .root #about.about p {
        padding: 20px 25px;
        text-indent: 13px; }
        body .root #about.about p em.sj {
          font-style: italic;
          font-family: Verdana;
          font-size: 14px; }
    body .root .demo {
      margin-bottom: 50px;
      padding: 15px 20px; }
      body .root .demo:nth-child(odd) {
        background-color: #FAFAFA; }
      body .root .demo div.header {
        text-indent: 15px;
        margin: 10px 0 15px 0; }
      body .root .demo .stopwatch {
        float: right;
        top: 10px;
        right: 10px;
        font-family: Arial;
        font-size: 15px;
        font-style: italic; }
      body .root .demo .demo1 {
        /* demo1 */
        margin: 0;
        width: 350px;
        text-align: left; }
      body .root .demo .demo2 {
        /* demo2 */
        width: 65%;
        margin: 0 auto;
        text-align: left;
        min-width: 550px;
        font-family: sans-serif;
        font-size: 13px; }
        body .root .demo .demo2 span.storeinfo {
          display: block;
          font-family: Arial;
          font-size: 22px;
          font-weight: bold;
          width: 100%;
          margin: 0 auto;
          text-align: center; }
        body .root .demo .demo2 span.date {
          top: 15px;
          position: relative;
          font-family: Courier New; }
          body .root .demo .demo2 span.date em {
            display: block;
            font-style: italics; }
        body .root .demo .demo2 ul {
          list-style: none;
          margin-left: -10px; }
          body .root .demo .demo2 ul li {
            margin: 20px 0 0 0; }
            body .root .demo .demo2 ul li span {
              display: inline;
              padding: 2px 5px; }
              body .root .demo .demo2 ul li span.isbn10 {
                color: blue;
                margin: 1px 5px; }
              body .root .demo .demo2 ul li span.lang {
                font-style: italic; }
      body .root .demo .demo3 {
        /* demo3 */
        margin: 0;
        width: 350px;
        text-align: left; }
        body .root .demo .demo3 .title {
          font-size: 15px;
          font-weight: bold;
          margin: 0 0 0 -10px; }
        body .root .demo .demo3 .lang {
          color: #000; }
        body .root .demo .demo3 ul li {
          margin: 10px 0 0 10px; }
          body .root .demo .demo3 ul li:hover .isbn10, body .root .demo .demo3 ul li:hover .lang {
            display: block; }
          body .root .demo .demo3 ul li .lang, body .root .demo .demo3 ul li .isbn10 {
            display: none;
            margin: 0 4px;
            color: blue;
            font-size: 12px;
            font-style: italic;
            float: right; }
      body .root .demo .demo4 {
        /* demo4 */
        margin: 0;
        width: 100%;
        text-align: left; }
        body .root .demo .demo4 .title {
          font-weight: bold;
          margin-left: -10px; }
        body .root .demo .demo4 .desc {
          margin-left: 15px; }
        body .root .demo .demo4 ul.results {
          width: 100%;
          font-family: Arial;
          font-family: 13px; }
          body .root .demo .demo4 ul.results li {
            margin: 20px 0 40px 0;
            width: 550px; }
            body .root .demo .demo4 ul.results li:nth-child(odd) {
              background-color: #CED9FF;
              padding: 12px 15px;
              margin-left: -40px; }
            body .root .demo .demo4 ul.results li em {
              margin: 0 10px; }
      body .root .demo .demo5 {
        /* demo5 */
        margin: 0;
        width: 90%;
        text-align: left; }
        body .root .demo .demo5 .from_user, body .root .demo .demo5 .to_user_name {
          color: blue; }
        body .root .demo .demo5 h3 {
          font-family: Arial;
          font-size: 13px; }
        body .root .demo .demo5 em {
          padding: 2px 4px;
          margin: 2px 10px; }
        body .root .demo .demo5 ul li:nth-child(odd) {
          background-color: #EDEDED;
          padding: .5em 0 .5em 1em; }
          body .root .demo .demo5 ul li:nth-child(odd) ul li:nth-child(odd) {
            background-color: #E0E0E0;
            padding: .5em 0 .5em 1em; }
            body .root .demo .demo5 ul li:nth-child(odd) ul li:nth-child(odd) ul li:nth-child(odd) {
              background-color: #D3D3D3;
              padding: .5em 0 .5em 1em; }
    body .root #tests span.title {
      font-family: Arial;
      font-size: 16px;
      font-weight: bold;
      margin: 15px auto 10px auto; }
    body .root #tests ul.unit-tests {
      margin: 0;
      width: 70%;
      text-align: left;
      font-family: Verdana; }
      body .root #tests ul.unit-tests li.test {
        margin: 0 0 25px 0; }
        body .root #tests ul.unit-tests li.test em {
          float: right;
          font-style: normal;
          font-weight: bold;
          font-family: Arial; }
  body .logo {
    font-family: Arial;
    top: 0;
    left: 0;
    position: fixed;
    margin: 25px 0 0 25px;
    font-size: 32px; }
    body .logo .style {
      color: #000;
      font-family: 'Terminal Dosis', sans-serif;
      font-size: 22px;
      font-weight: bold; }
    body .logo .json {
      color: #0000CC;
      font-weight: bold;
      padding-left: 4px; }
    body .logo sup, body .logo sub {
      font-family: 'Terminal Dosis', sans-serif;
      color: #000; }
      body .logo sup:before, body .logo sub:before {
        content: "v"; }
    body .logo ul {
      position: relative;
      left: -40px; }
      body .logo ul li {
        margin: 10px 20px;
        text-align: left;
        width: 90%; }
        body .logo ul li:hover {
          font-weight: bold;
          color: #0000cc;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
  body footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    vertical-align: baseline;
    text-align: center; }
    body footer.hide {
      display: none; }
    body footer div {
      background-color: #fff;
      width: 100%;
      height: 34px;
      padding: 6px 10px;
      border: 1px solid #000;
      border-right: 0;
      border-left: 0; }
